.intro-text {
  color: #583d72;
}

.time {
  color: #f39189;
  position: fixed;
  bottom: 0;
}

.scroll {
  color: gray;
  position: fixed;
  bottom: 0;
  right: 0;
}

.img {
  width: 35vw;
  height: 35vw;
  object-fit: cover;
}

.movie-col > .grid {
  overflow-y: auto;
  flex-wrap: nowrap;
}

.small-img {
  width: 60vw;
  height: 65vw;
  object-fit: cover;
}
